.banner__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .banner__title {
        font-size: 52px;
        line-height: 61px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}