.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    background: #EAF2FD;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {

    .footer {
        flex-direction: row;
        padding: 32px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .footer {
        padding: 2rem 3.5rem;
    }
}