.producto__item__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

.producto__item__precio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.producto__item__ver {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #2A7AE4;
}

.productos__icons {
    position: fixed;
    background: fixed;
    gap: 8px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    width: 151px;
    padding: 5px 5px 0 0;
    color: white;
    opacity: 0.8;
}



@media (min-width: 576px) {}

@media (min-width: 768px) {
    .producto__item__img {
        width: 164px;
        height: 174px;
    }

    .productos__icons {
        width: 158px;
    }
}

@media (min-width: 992px) {
    .producto__item__img {
        width: 170px;
        height: 174px;
    }

    .productos__icons {
        width: 165px;
    }
}

@media (min-width: 1200px) {
    .producto__item__img {
        width: 176px;
        height: 174px;
    }

    .productos__icons {
        width: 171px;
    }
}